/*font-family: 'Rubik', sans-serif;
font-family: 'Montserrat', sans-serif;
dark green: #1e9682ff
light green: #5AC3A5
light yellow: #FFE67D
dark yellow: #F5DA73
dark blue (nose and eyes): #1E4550 */

@import url("https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap&subset=cyrillic,hebrew,latin-ext");

* {
  box-sizing: border-box;
}

body {
  background: #ecf1f3;
  /*background-image: url("./../img/background-img.png");*/
  font-family: "Rubik", sans-serif;
  color: #1e4550;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  min-height: 100%;
}

span {
  font-size: 1.4em;
  line-height: 2;
}

#start-page {
  background-color: #ecf1f3;
  /*background-image: url("./../img/llama-animal-grey.jpg");*/
  background-size: contain;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin-top: -20px;
}

#pause-page {
  background-color: tomato;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin-top: -20px;
  visibility: hidden;
}

/*.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}*/

#progress,
#main,
#bottom,
#info-or-phrase,
.lila,
.hints,
.title,
.words {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

.lila {
  border-bottom: 2px solid #1e4550;
}

#bottom,
#info-or-phrase,
.unit,
.question,
.options,
.words {
  display: flex;
  justify-content: center;
}

.margin-l-r,
.base-language,
.equal,
.target-language,
.target-language-phrase {
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  align-items: center;
}

.audio-sign {
  max-width: 50%;
}

.center {
  display: flex;
  justify-content: center;
}

.option-abc {
  width: 25%;
}

.several-words,
.correct-phrase {
  display: flex;
  align-items: center;
  justify-content: center;
}

.target-language {
  width: 128px;
}

.target-language-phrase {
  width: 128px;
}

.title {
  display: flex;
  justify-content: center;
}

#start-page {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#column-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

#column-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

#column-three {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

button {
  color: #1e4550;
  background-color: #5ac3a5;
  font-size: 1.3em;
  border-radius: 12px;
  /*border: 2px #1e4550;
  border-style: outset;*/
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #ffe67d;
  box-shadow: none;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
}

#disabled:hover {
  background-color: #5ac3a5;
}

.box-shadow-word {
  box-shadow: 10px 10px 50px grey;
  border-radius: 15px;
}

.box-shadow-phrase {
  box-shadow: 10px 10px 50px grey;
  border-radius: 15px;
}

.box-shadow-phrase:hover {
  box-shadow: none;
}

.correct-phrase,
.several-words {
  margin: 20px;
}

.bold {
  font-weight: bold;
}
